<aside class="sidebar" [class.collapsed]="isCollapsed">

    <div class="sidebar__header">
        <div class="sidebar__brand">
            @if (!isCollapsed) {
                <div class="sidebar__logo">
                    💰
                </div>

                <div class="sidebar__title">
                    <h1>Kofrinho</h1>
                    <span>Finanças Pessoais</span>
                </div>
            }

        </div>

        <button
            class="sidebar__toggle"
            (click)="toggleMenu()">

            <i class="ph ph-list"></i>
        </button>

    </div>

    <nav class="sidebar__menu">

        @for (item of menuItems; track item.id) {
            <div class="menu-item-container">

                <a class="menu-item">
                    <i class="{{ item.icon }}"></i>

                    @if (!isCollapsed) {
                        <span>{{ item.label }}</span>
                    }
                </a>

                @if (item?.children?.length) {

                    <div class="submenu">

                        <div class="submenu-title">
                            {{ item.label }}
                        </div>

                        @for (child of item.children; track child.id) {
                            <a class="submenu-item" [routerLink]="[item.path, child.path]">
                                {{ child.label }}
                            </a>
                        }

                    </div>
                }
            </div>
        }

    </nav>

</aside>
